<h2>Passenger Details</h2>
<ul class="detail-list">
  <li class="passenger-details">
    <span id="name">
      <h2><%= @passenger.name %></h2>
    </span>
    <span><strong>Total Trips</strong></span>
    <span id="charges"><strong>Total Charges</strong></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span><%= @passenger.trips.count %></span>
    <span><%= @passenger.amount_charged%></span>
    <span><%= link_to "Edit", edit_passenger_path(@passenger.id)  %></span>
    <span><%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure?"} %></span>
    <span><%=link_to "Create a New Trip", passenger_trips_path(@passenger.id), method: :post %></span>
    </li>
  </ul>


<table class ="trips">
  <thead>
    <tr>
    <th> ID </th>
    <th> Date </th>
    <th> Driver </th>
    <th> Passenger </th>
    <th> Price </th>
    <th> Rating </th>
    <th> Edit </th>
    <th> Delete </th>
    </tr>
  </thead>
  <tbody>
    <% @passenger.trips.each do |trip| %>
    <tr>
    <td> <%= link_to trip.id, trip_path(trip.id) %> </td>
    <td> <%= trip.date %> </td>
    <td> <%= trip.driver.name %> </td>
    <td> <%= trip.passenger.name %> </td>
    <td> <%= trip.cost %> </td>
    <td> <%= trip.rating %> </td>
    <td><%= link_to "Edit", edit_trip_path(trip.id) %></td>
    <td><%= link_to "Delete", trip_path(trip.id), method: :delete, data: { confirm: "Are you sure you want to delete this trip?" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>