<% if @driver.errors.any? %>
  <h3>Please try again:</h3>
  <ul>
    
      <% @driver.errors.messages.each do |k, v| %>
        <% v.each do |msg| %>
        <li>
          <strong> <%= k %>:</strong> <%= msg %>
          </li>
        <% end %>
      
    </ul>
  <%end%>
<%end%>

<%= form_with model: @driver, class: 'driver-form' do |f| %>
  

    <%= f.label :name, "Driver name (required):", class: 'driver-label'%>
    <%= f.text_field :name, placeholder: "Joe Schmo", class: 'driver-input'%>
 
    <%= f.label :vin, "VIN:", class: 'driver-label' %>
    <%= f.text_field :vin, placeholder: "1234567890", class: 'driver-input' %>
 
  <%= f.submit "Save", class: 'save-button' %>
<% end %>