<h1>Driver Details</h1>

<ul class="detail-list">
<li class="driver-details">

<span id="name"><h2><%= @driver.name %></h2></span>
<span><strong>Trips</strong></span>
<span><strong>Earnings</strong></span>
<span><strong>Average Rating</strong></span>
<span></span>
<span></span>

<span id="trips"><% @driver.trips.each do |trip| %>
    <%= link_to trip.id, trip_path(trip.id) %>
<% end %></span>
<span id="earnings"><%= @driver.total_earnings%></span>
<span id="ratings"><%= @driver.average_ratings%></span>
<span id="edit"><%= link_to "Edit", edit_driver_path(@driver.id)  %></span>
<span id="delete"><%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"} %></span>
</li>
</ul>