<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <ul>
  <li><%= link_to "View all Drivers", drivers_path %></li>
  <li><%= link_to "Add a Driver", new_driver_path %> </li>
  <li>View all Passengers</li>
  <li>Add a Passenger</li>
  </ul>
  </nav>
    <%= yield %>
  </body>
</html>
